<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Emotion Detection</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        #videoFeed {
            border: 5px solid #333;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Real-Time Emotion Detection</h1>
    <div>
        <img id="videoFeed" src="{{ url_for('videos') }}" width="640" height="480">
    </div>
</body>
</html>
